<h1>Bookmarks</h1>

<%= link_to "Create new bookmark", new_bookmark_path %>

<% @bookmark.each do |bookmark| %>
  <p>
    <%= link_to bookmark do %>
      <%= "#{bookmark.url}" %>
    <% end %>
    <br />
    <span><%= link_to "Delete", bookmark, method: :delete %></span>
  </p>
<% end %>